<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="~/images/chatbotsmall.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>100BOTGPT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GPTLearning.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
@*     <link href="~/dist/tailwind.css" rel="stylesheet">  <!-- Ensure Tailwind CSS is loaded here -->
 *@</head>
<body class="bg-light text-primary flex flex-col min-h-screen">

    <header class="bg-light text-primary">
        <nav class="bg-secondary text-red-600 p-4 shadow-md navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-primary flex items-center space-x-2" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/chatbotsmall.png" alt="Logo" class="w-6 h-6">
                    <span>100BOTGPT</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="flex flex-col min-h-screen">
        <div class="flex-1 container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

 @*        <footer class="footer bg-light text-primary">
            <div class="container">
                &copy; 2025 - GPTLearning - Talk with Peke100
                <a class="text-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer> *@
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
